html, body {
    margin: 0;
    height: 100%;
}
body.popup {
    min-width:780px;
    /* add a tiny bit of compatibilty with mobile */
    overflow-y: hidden;
}
@-moz-document url-prefix() { /* Hack for firefox only CSS */
    /* html {
        overflow: hidden
    } */
}
body {
    font-size: 14px;
}

/* Chrome, Edge, and Safari */
html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-track {
    background: #ffffff;
}

html::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border: 2px none #ffffff;
}