html, body{
    margin: 0;
    height: 100%;
    min-width:700px;
    /*min-height: 200px;*/
    max-height: 500px;
    overflow: hidden;
}
html {
    overflow-y: hidden;
}
/** Added here because this class is added on detached tooltip box which is outside component scope */
.icon-ttip {
    margin-top: -15px;
}
body {
    font-size:11px;
}
