html, body {
    margin: 0;
    height: 100%;
}
body.popup {
    min-width:700px;
    max-height: 500px;
    overflow: hidden;
}
/** Added here because this class is added on detached tooltip box which is outside component scope */
/*.icon-ttip {*/
    /*margin-top: -15px;*/ /* Has been fixed in Vuetify V1.1.9 */
/*}*/
body {
    font-size:11px;
}
